body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}

a {
  color: #00B7FF;
}


.loader {
	text-align: center;
	display: block;
	margin: 10px auto;
}
.res-container {
	clear:both;
}
.list-group {
	margin:10px 0 10px 15px;
	display: inline-block;
}
.items-found {
	margin-top:50px;
}
.list-group-item {
	clear: both;
	float: left;
	width: 100%;
}
.item-detail {
	line-height: 2;
}

.active-user-list{
	display: block;
}