<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body style="background-color:#f2f2f2;" >
	      <% include nav %>

		<header>
		  <div class="container">
		    <h1><%= title %></h1>
		  </div>
		</header>
