<% include header %>

<main role="main">
  <div class="container">
    
    <div class="col-xs-12 well">
    	<h3>To start using the search please use one of the below option</h3>
    </div>
    

    <div class="col-xs-6 col-sm-6">
      <a  class="btn btn-primary" href="/login">Login</a>
    </div>
    <div class="col-xs-6 col-sm-6">
     <a class="btn btn-primary" href ="/register">Register</a>
    </div>
    
  </div>

</main>

<% include footer %>