<nav class="navbar container navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand" > <a href="/"> Home </a>
    </div>
    <div >
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login" > Login</a></li>
        <li><a href="/register" > Register </a></li> 
      </ul>
    </div>
  </div> 
</nav>  